@charset "UTF-8";
@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansCyrl.eot");
  src: url("../fonts/MuseoSansCyrl.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl.ttf") format("ttf"), url("../fonts/MuseoSansCyrl.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: 'Museo';
  margin: 0;
  overflow-x: hidden; }

/*___Начало reset'a___*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, a {
  display: block; }

ul, li {
  list-style-type: none; }

* {
  box-sizing: border-box; }

p, span {
  font-size: 16px; }

/*___Конец reset'a___*/
