@charset "UTF-8";
@keyframes heartbeat {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

/* сброс стилей браузера */
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* конец кода сброса стилей браузера */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl.otf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_0.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_1.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_2.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_3.otf");
  font-weight: 900;
  font-style: normal; }

.slider_title_nav, .slider_title_nav .nav {
  display: flex;
  align-items: center; }

.slider_popular_tov {
  margin: 0 -13px; }
  .slider_popular_tov .tov_item {
    margin: 0px; }
  .slider_popular_tov .owl-item {
    margin: 0 13px; }

.slider_title_nav .nav {
  margin-left: auto; }

.slider_title_nav .title, .title_tov .title {
  display: flex;
  align-items: flex-end; }

.slider_title_nav .title p, .title_tov .title p {
  font-size: 24px;
  margin-right: 20px; }

.slider_title_nav .title span, .title_tov .title span {
  color: #DD2B1C; }

.owl-item {
  opacity: 0;
  transition: all .4s; }

.owl-item.active {
  opacity: 1; }

.owl-stage-outer {
  overflow: hidden; }

.owl-stage {
  display: flex; }

.owl-nav, .owl-dots {
  display: none; }

.background-slider {
  display: block;
  width: 100%;
  height: 688px; }
  .background-slider .glide_header {
    height: 100%; }
    .background-slider .glide_header .glide__slide {
      height: 100%;
      background-image: url("../img/detailed-bg_01.png");
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: center; }
      .background-slider .glide_header .glide__slide .container {
        display: flex;
        align-items: flex-end;
        height: 80%; }
        .background-slider .glide_header .glide__slide .container p {
          position: relative;
          font-size: 14px;
          line-height: 125%;
          font-weight: 300;
          color: #757482;
          width: 100%;
          padding: 25.66px; }
          .background-slider .glide_header .glide__slide .container p:before {
            content: url("../img/clock.svg");
            position: absolute;
            left: 0;
            top: 38%; }
        .background-slider .glide_header .glide__slide .container h1 {
          font-size: 52px;
          line-height: 120%;
          font-weight: 800;
          color: #fff;
          max-width: 794px; }
    .background-slider .glide_header .glide__track {
      height: 100%; }
      .background-slider .glide_header .glide__track .glide__slides {
        height: 100%; }

ul, li {
  list-style-type: none; }

.footer {
  font-family: "Museo Sans Cyrl";
  font-weight: 100;
  font-style: normal; }

.top-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 122px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #35283A; }
  .top-footer .subscription-article {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 50px; }
    .top-footer .subscription-article span {
      font-size: 14px;
      line-height: 150%;
      font-weight: 100;
      color: #847689;
      display: inline-block; }
    .top-footer .subscription-article:before {
      content: url("../img/sub.png");
      position: absolute;
      top: 20%;
      left: .5rem; }
  .top-footer .subscription-form {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100;
    color: #847689;
    max-width: 480px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .top-footer .subscription-form input[type="email"] {
      width: 100%;
      height: 50px;
      background-color: #413147;
      color: rgba(255, 255, 255, 0.5);
      border: none;
      border-radius: 3px;
      padding: 20px; }
    .top-footer .subscription-form input[type="button"] {
      height: 50px;
      width: 170px;
      background-color: #DD2B1C;
      border: none;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      transition: all .4s; }
      .top-footer .subscription-form input[type="button"]:hover {
        background-color: #b92417; }

.bottom-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 122px;
  background-color: #35283A; }
  .bottom-footer .copyright {
    font-size: 14px;
    line-height: 150%;
    font-weight: 100;
    color: #847689; }
  .bottom-footer h4 {
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #FFFFFF; }
  .bottom-footer ul {
    padding-left: 0; }
    .bottom-footer ul li {
      margin-top: 11px; }
    .bottom-footer ul a {
      font-size: 12px;
      line-height: 150%;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6); }
  .bottom-footer .social-btns {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    align-items: flex-end; }
    .bottom-footer .social-btns a {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      border-radius: 3px;
      width: 180px;
      height: 50px;
      transition: all .5s; }
      .bottom-footer .social-btns a svg {
        padding: 13px;
        margin-right: 15px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        padding-right: 13px;
        width: 45px;
        height: 100%; }
        .bottom-footer .social-btns a svg path {
          transition: all .5s; }
    .bottom-footer .social-btns a:nth-child(1) {
      background-color: #E4405F;
      margin-bottom: 15px; }
      .bottom-footer .social-btns a:nth-child(1):hover {
        background-color: #d13955; }
        .bottom-footer .social-btns a:nth-child(1):hover svg path {
          fill: rgba(255, 255, 255, 0.5); }
    .bottom-footer .social-btns a:nth-child(2) {
      background-color: #2CA5E0; }
      .bottom-footer .social-btns a:nth-child(2):hover {
        background-color: #2692c8; }
        .bottom-footer .social-btns a:nth-child(2):hover svg path {
          fill: rgba(255, 255, 255, 0.5); }

@media (max-width: 575px) {
  .bottom-footer h4 {
    margin-top: 15px; }
  .bottom-footer .social-btns {
    align-items: center;
    margin-top: 20px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .bottom-footer .social-btns {
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 15px; }
    .bottom-footer .social-btns a:first-child {
      margin-bottom: 0; } }

@media (min-width: 360px) and (max-width: 768px) {
  .top-footer .subscription-form {
    margin-top: 20px; }
  .tc {
    text-align: center; } }

.wrap {
  max-width: 1285px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.grid {
  background: #E6E6E6; }
  .grid .wrap {
    display: flex; }

body {
  font-family: "Museo Sans Cyrl"; }

.header {
  font-family: "Museo Sans Cyrl";
  font-weight: 100;
  font-style: normal;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.03); }

.top-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 48px;
  background-color: #35283A; }
  .top-menu .select2-container--default .select2-selection--single {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none; }
  .top-menu .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
    line-height: 140%;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase; }
  .top-menu .country option {
    color: black; }
  .top-menu .top-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    list-style: none; }
    .top-menu .top-nav a {
      font-size: 13px;
      line-height: 140%;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase; }
      .top-menu .top-nav a:hover {
        text-decoration: none; }
  .top-menu p {
    font-size: 13px;
    line-height: 140%;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block; }
    .top-menu p a {
      font-size: 13px;
      line-height: 140%;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase; }

.bottom-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FBE116, #FBE116), linear-gradient(96.19deg, #A759E3 0%, #D061EC 100%); }
  .bottom-menu .row {
    align-items: center; }
  .bottom-menu .search {
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    color: #282C3A;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #F4F5F5;
    backdrop-filter: blur(20px); }
    .bottom-menu .search::placeholder {
      color: #98A3AE;
      font-weight: 100; }
  .bottom-menu .search-btn {
    position: absolute;
    top: 30%;
    right: 6%;
    width: 24px;
    height: 24px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: auto;
    border: none;
    outline: none;
    background-color: transparent; }
  .bottom-menu .favorite-link svg:hover {
    animation: heartbeat .6s infinite; }
  .bottom-menu .favorite-link, .bottom-menu .trash-link {
    margin-right: 17px; }
    .bottom-menu .favorite-link svg path, .bottom-menu .trash-link svg path {
      transition: all .3s; }
    .bottom-menu .favorite-link:hover svg path, .bottom-menu .trash-link:hover svg path {
      fill: #ff5c5c; }
  .bottom-menu .favorite, .bottom-menu .trash {
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: #35283A; }
    .bottom-menu .favorite span, .bottom-menu .trash span {
      font-size: 14px;
      line-height: 140%;
      font-weight: 100;
      color: #98A3AE;
      display: block; }

@media (max-width: 767px) {
  .bottom-menu .search {
    margin-top: 15px;
    margin-bottom: 15px; }
  .bottom-menu .search-btn {
    top: 38%; }
  .signInOrRegister {
    padding-left: 0; } }

@media (max-width: 980px) {
  .signInOrRegister {
    text-align: right !important; } }

.hc-offcanvas-nav .inner-nav {
  display: none; }

@media (max-width: 992px) {
  .top-navv {
    display: none; }
  .hc-offcanvas-nav .inner-nav {
    display: block; } }

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #35283A; }

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #35283A; }

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: none; }

.hc-offcanvas-nav li.nav-close a:hover, .hc-offcanvas-nav li.nav-back a:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.nav-content {
  font-family: "Museo Sans Cyrl"; }
  .nav-content h2 {
    color: #fff;
    font-size: 22px; }

.top-menu .hc-nav-trigger {
  top: -20px;
  right: 10px; }

.top-menu .hc-nav-trigger span, .top-menu .hc-nav-trigger span::before, .top-menu .hc-nav-trigger span::after {
  background-color: rgba(255, 255, 255, 0.5); }

.bottom-menu .hc-nav-trigger.hc-nav-2 {
  display: block; }

.bottom-menu .toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9980;
  width: 35px;
  min-height: 24px;
  position: relative;
  width: auto;
  top: 10px;
  right: 15%;
  float: right;
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  font-size: 20px; }

.bottom-menu .hc-nav-trigger span, .bottom-menu .hc-nav-trigger span::before, .bottom-menu .hc-nav-trigger span::after {
  background-color: #282C3A; }

@media (max-width: 768px) {
  .bottom-menu .toggle {
    right: 7%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .stStatic {
    position: static; }
  .bottom-menu .toggle {
    position: absolute;
    right: 5%;
    top: 2%; }
  .bottom-menu .hc-nav-trigger span, .bottom-menu .hc-nav-trigger span::before, .bottom-menu .hc-nav-trigger span::after {
    background-color: #fff; } }

@media (min-width: 993px) and (max-width: 1124px) {
  .bottom-menu .toggle {
    right: 5%; } }

.main-page .sidebar {
  width: 25%;
  margin-right: 45px; }

.main-page .sidebar a {
  text-decoration: none;
  color: #282C3A; }

.main-page .menu ul {
  padding: 0; }
  .main-page .menu ul li {
    position: relative;
    border-bottom: 1px solid #EDEFF5;
    transition: all .4s; }
    .main-page .menu ul li:hover {
      background: #e4e4e48c; }
    .main-page .menu ul li:nth-child(1) a {
      font-weight: bold; }
    .main-page .menu ul li:nth-child(1) .sub-menu a {
      font-weight: normal; }
    .main-page .menu ul li:nth-child(2) a {
      font-weight: bold; }
    .main-page .menu ul li:nth-child(2) .sub-menu a {
      font-weight: normal; }
    .main-page .menu ul li:nth-child(3) a {
      font-weight: bold; }
    .main-page .menu ul li:nth-child(3) .sub-menu a {
      font-weight: normal; }
    .main-page .menu ul li a {
      display: block;
      padding: 20px 30px; }

.main-page .news, .main-page .payment {
  margin-top: 25px;
  background-color: #fff; }

.main-page .news_item img {
  width: 100%; }

.main-page .news_cont {
  padding: 0px 30px 20px;
  border-bottom: 1px solid #EDEFF5; }

.main-page .news_item {
  margin-bottom: 38px; }
  .main-page .news_item a {
    cursor: pointer;
    margin-top: 15px;
    transition: all .4s; }
  .main-page .news_item .img {
    border-radius: 3px; }

.main-page .news_item:nth-last-child(1) {
  margin-bottom: 0px; }

.main-page .news_item:hover a {
  color: #DD2B1C; }

.main-page .menu {
  background: #fff; }

.main-page .sub-menu {
  display: none; }

.main-page .accordion-trigger-open .sub-menu {
  display: block; }

.main-page .accordion-trigger {
  position: absolute;
  top: 16px;
  right: 25px;
  padding: 8px;
  transition: all .4s; }

.main-page .accordion-trigger:hover {
  transform: rotate(90deg); }

.main-page .menu ul li {
  position: relative; }

.main-page .news .title, .main-page .payment .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 22px;
  padding: 30px 30px 0 30px; }

.main-page .payment .subtitle {
  font-size: 14px;
  padding: 0px 30px 35px; }

.main-page .pay_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px 30px; }
  .main-page .pay_cont a img {
    width: 100%;
    max-width: 70px; }
  .main-page .pay_cont a {
    margin: 15px; }

@media (max-width: 1050px) {
  .main-page .sidebar {
    margin-right: 15px; } }

@media (max-width: 950px) {
  .main-page .sidebar .menu, .main-page .payment {
    display: none; }
  .main-page .grid .wrap {
    flex-wrap: wrap;
    flex-direction: column-reverse; }
  .main-page .sidebar, .main-page .content {
    width: 100% !important; }
  .main-page .news_cont {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px; }
    .main-page .news_cont .news_item {
      width: calc(33.33% - 30px);
      margin: 0px 15px; }
  .main-page .news {
    margin-top: 0;
    margin-bottom: 30px; }
  .main-page .sidebar {
    margin-right: 0; }
  .main-page .slider_title_nav {
    margin-left: 15px; } }

@media (max-width: 550px) {
  .main-page .news_item {
    width: 100% !important;
    margin: 15px !important; } }

.main-page .tov_item {
  overflow: hidden;
  position: relative;
  background: #fff;
  margin: 0 13px;
  height: 404px;
  max-height: 100%; }
  .main-page .tov_item p {
    margin-top: 15px;
    margin-bottom: 23px; }
  .main-page .tov_item .tov-button {
    transition: all 0.8s;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    background: #FF3A52;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px; }
  .main-page .tov_item .tov-button:hover {
    background: #dd3246; }
  .main-page .tov_item .tov_item_img {
    display: block;
    transition: all 0.4s;
    max-height: 260px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    border-bottom: 1px solid #EDEFF5;
    padding: 20px; }
    .main-page .tov_item .tov_item_img img {
      width: 100%;
      object-fit: contain; }

.main-page .tov_item:hover .tov_item_img {
  filter: blur(3px); }

.main-page .tov_item:hover .tov-button {
  top: 30%; }

.main-page .title a {
  text-decoration: none; }

.main-page .tov_new {
  background: #FF3A52;
  border-radius: 3px;
  width: 80px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  position: relative;
  margin-top: -13px;
  z-index: 70; }

.main-page .tov_item_info {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 140px; }
  .main-page .tov_item_info .price {
    font-size: 18px;
    font-weight: bold; }
  .main-page .tov_item_info .price span {
    font-size: 15px;
    color: #b4b4b4; }
  .main-page .tov_item_info .old_price {
    font-size: 12px;
    text-decoration: line-through; }
    .main-page .tov_item_info .old_price span {
      font-size: 13px;
      color: #b4b4b4; }
  .main-page .tov_item_info .tov_pov {
    background: #C053F3;
    padding: 5px;
    width: 105px; }
  .main-page .tov_item_info .tov_exs {
    background: #FF7300; }

.main-page .slider_popular_tov .tov_item {
  margin: 0; }

.main-page .title_tov {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bold; }

.main-page .cont_tov .tov_item {
  width: calc(25% - 26px);
  margin-bottom: 26px;
  min-width: 180px; }

.main-page .cont_tov .tov_item .tov_item_img img {
  width: 100%; }

.main-page .offer {
  display: flex;
  flex-direction: column;
  background-image: url(../img/fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #fff;
  padding: 60px 60px 40px;
  margin-top: 25px;
  margin-bottom: 50px; }
  .main-page .offer .subtitle {
    font-size: 18px; }
  .main-page .offer .title {
    font-size: 38px;
    font-weight: bold;
    margin-top: 17px;
    transition: all .4s; }

.main-page .offer:hover {
  text-decoration: none;
  color: #fff; }
  .main-page .offer:hover .title {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.548); }

.main-page .modal-window {
  position: fixed;
  z-index: 10000;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #EDEFF5;
  border-radius: 5px;
  transition: all .4s;
  min-width: 350px; }
  .main-page .modal-window .modal-cont {
    padding: 40px 70px;
    position: relative; }
    .main-page .modal-window .modal-cont .modal-menu-close {
      position: absolute;
      top: 25px;
      right: 25px; }
    .main-page .modal-window .modal-cont .title {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 15px; }
    .main-page .modal-window .modal-cont .subtitle {
      margin: 15px 0px;
      font-size: 14px;
      cursor: pointer; }
    .main-page .modal-window .modal-cont .hiddem-form {
      display: none; }
    .main-page .modal-window .modal-cont form {
      max-width: 370px;
      width: 100%; }
      .main-page .modal-window .modal-cont form input {
        width: 100%;
        height: 40px;
        padding: 15px;
        margin-bottom: 15px;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.637);
        font-family: 'Museo'; }
      .main-page .modal-window .modal-cont form input::placeholder {
        font-family: 'Museo';
        font-size: 14px; }
      .main-page .modal-window .modal-cont form button {
        width: 100%;
        height: 40px;
        background: none;
        border: 2px solid rgba(53, 40, 58, 0.733);
        color: rgba(53, 40, 58, 0.733);
        font-weight: bold;
        font-family: 'Museo'; }

.main-page .modal-window.nav-open {
  top: 50%; }

.main-page .modal-open .blur {
  filter: blur(5px); }

.main-page .content {
  width: 75%; }

.main-page .main_ban_cont {
  margin-top: 20px; }
  .main-page .main_ban_cont a {
    text-decoration: none;
    color: white;
    transition: all 0.4s; }
  .main-page .main_ban_cont a:hover {
    transform: scale(1.03); }

.main-page .ban_cont {
  margin-bottom: 30px;
  display: flex;
  margin-top: 30px; }

.main-page .ban_item {
  width: calc(25% - 12px);
  text-align: center;
  margin: 0 13px;
  height: 260px;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  transition: all .4s;
  font-size: 18px;
  padding: 30px 0;
  text-decoration: none;
  color: inherit; }

.main-page .ban_item:hover {
  padding: 25px 0;
  font-size: 20px; }

.main-page .ban_item:nth-child(1) {
  margin-left: 0;
  background-image: url(../img/ban4.jpg); }

.main-page .ban_item:nth-child(2) {
  background-image: url(../img/ban1.png);
  position: relative; }

.main-page .ban_item:nth-child(3) {
  background-image: url(../img/ban2.jpg); }

.main-page .ban_item:nth-child(2)::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 45px;
  width: 45px;
  background-image: url(../img/ellipse.png);
  z-index: 3; }

.main-page .ban_item:nth-child(4) {
  margin-right: 0;
  background-image: url(../img/ban3.jpg); }

.main-page .main_ban_cont, .main-page .ban_cont {
  display: flex;
  color: #fff;
  background-position: center;
  background-size: cover; }

.main-page .ban_75 {
  width: 70%;
  padding: 90px 50px;
  background-image: url(../img/image1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px; }
  .main-page .ban_75 p {
    margin-top: 15px;
    font-size: 36px;
    max-width: 300px;
    font-weight: bold; }
  .main-page .ban_75 span {
    font-size: 16px; }

.main-page .ban_cont_35 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 15px;
  background-position: center; }

.main-page .main_ban_item {
  text-decoration: none; }
  .main-page .main_ban_item p {
    font-size: 20px;
    font-weight: bold; }
  .main-page .main_ban_item span {
    font-size: 11px; }

.main-page .main_ban_item:nth-child(1) {
  background-image: url(../img/ban5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  padding: 50px;
  border-radius: 7px; }

.main-page .main_ban_item:nth-child(2) {
  background-image: url(../img/image3.png);
  text-align: center;
  padding: 50px;
  border-radius: 7px; }

.main-page .cont_tov {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px; }

@media (max-width: 950px) {
  .main-page .main_ban_cont, .main-page .ban_cont {
    flex-wrap: wrap; }
  .main-page .ban_75 {
    width: calc(100% - 30px);
    margin: 0 15px; }
  .main-page .ban_cont_35 {
    display: flex;
    width: 100%;
    margin: 15px 0px; }
  .main-page .main_ban_item {
    width: calc(50% - 30px);
    margin: 0 15px; }
  .main-page .main_ban_item:nth-child(1) {
    margin-bottom: 0; }
  .main-page .ban_item, .main-page .ban_item:nth-child(1) {
    width: calc(50% - 30px);
    margin: 15px; } }

@media (max-width: 800px) {
  .main-page .cont_tov .tov_item {
    width: calc(33.333% - 30px) !important;
    margin: 0px 15px 26px; }
  .main-page .header_search .col .img {
    margin: 0; } }

@media (max-width: 650px) {
  .main-page .cont_tov .tov_item {
    width: calc(50% - 30px) !important; }
  .main-page .slider_title_nav, .main-page .slider_popular_tov {
    margin-bottom: 15px; } }

@media (max-width: 550px) {
  .main-page .ban_75 {
    width: 100%;
    margin: 0px; }
    .main-page .ban_75 p {
      font-size: 26px; }
  .main-page .ban_cont_35 {
    flex-wrap: wrap; }
  .main-page .main_ban_item {
    width: 100%;
    margin: 15px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left !important;
    padding: 70px 50px !important; }
    .main-page .main_ban_item p {
      font-size: 26px; }
    .main-page .main_ban_item span {
      font-size: 14px; }
  .main-page .cont_tov {
    margin: 0px -5px; }
  .main-page .ban_item, .main-page .ban_item, .main-page .ban_item:nth-child(1) {
    width: calc(50% - 14px);
    margin: 7px;
    padding: 30px 15px; }
  .main-page .slider_title_nav .title, .main-page .title_tov .title {
    display: block; }
  .main-page .cont_tov .tov_item {
    width: calc(50% - 10px) !important;
    margin: 0px 5px 10px; } }

@media (max-width: 400px) {
  .main-page .ban_item, .main-page .ban_item, .main-page .ban_item:nth-child(1) {
    width: 100% !important;
    margin: 0px 0px 15px; }
  .main-page .ban_cont {
    margin-top: 0px !important; }
  .main-page .slider_title_nav {
    display: block; }
  .main-page .slider_title_nav .nav {
    margin: 0 auto;
    width: 120px; }
  .main-page .slider_title_nav .title, .main-page .title_tov .title {
    text-align: center; }
  .main-page .slider_title_nav {
    margin-bottom: 0px; }
    .main-page .slider_title_nav .title {
      font-weight: bold;
      margin-bottom: 10px !important; }
  .main-page .slider_title_nav .title p, .main-page .title_tov .title p {
    margin-right: 0px; }
  .main-page .cont_tov .tov_item {
    width: 100% !important;
    margin: 0px 0px 10px; } }

@media (max-width: 380px) {
  .main-page .ban_75 {
    padding: 90px 30px; }
    .main-page .ban_75 p {
      font-size: 22px; }
  .main-page .main_ban_item {
    padding: 90px 30px; }
  .main-page .ban_cont_35 {
    margin-top: 0px; } }

@media (max-width: 800px) {
  .main-page .modal-window .modal-cont {
    padding: 40px; }
  .main-page .ban_cont_35 {
    flex-direction: row; } }

@media (max-width: 650px) {
  .main-page .offer .title {
    font-size: 24px; } }

@media (max-width: 400px) {
  .main-page .offer {
    padding: 60px 20px; }
  .main-page .modal-window .modal-cont .modal-menu-close {
    top: 15px;
    right: 15px; }
  .main-page .modal-window .modal-cont .title {
    font-size: 18px; }
  .main-page .slider_title_nav .nav {
    width: 125px !important; } }

.catalog {
  font-family: "Museo Sans Cyrl";
  background-color: #f7f8fa; }

/*Аккордеон начало*/
.hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

.accordion {
  background: #fff;
  width: 100%;
  padding-left: 0; }

.accordion-item {
  position: relative;
  width: 100%;
  padding: 7px;
  border-bottom: 1px solid #EDEFF5; }
  .accordion-item:last-child {
    border-bottom: none; }

.accordion-label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 15px;
  line-height: 140%;
  font-weight: 500;
  color: #282C3A;
  padding: 10px 20px 10px 30px;
  align-items: center;
  justify-content: space-between; }
  .accordion-label:hover {
    cursor: pointer; }
  .accordion-label svg {
    transition: all .2s; }
  input[type=checkbox]:checked ~ .accordion-label svg {
    transform: rotate(90deg); }
  input[type=checkbox]:checked ~ .accordion-label {
    color: #DD2B1C; }

.accordion-child {
  font-size: 14px;
  line-height: 140%;
  font-weight: 300;
  color: #757482;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  transform: scale(1, 0);
  transform-origin: center top; }
  .accordion-child p input {
    width: 25%;
    padding: 0 6px;
    font-size: 12px; }
    .accordion-child p input:focus {
      box-shadow: 0 0 4px 0 #5983f0;
      border: 1px solid #5983f0; }
  .accordion-child li {
    margin: 10px 17px; }
    .accordion-child li input[type=checkbox] {
      display: none; }
    .accordion-child li input[type=checkbox] + label:before {
      content: "\2713";
      display: inline-block;
      color: transparent;
      border: 1px solid #AAAABE;
      border-radius: 3px;
      margin: -5px 5px 0 0;
      height: 18px;
      width: 18px;
      text-align: center;
      transition: color ease .3s; }
    .accordion-child li input[type=checkbox]:checked + label:before {
      color: #000; }
  input[type=checkbox]:checked ~ .accordion-child {
    background: #fff;
    padding: 0 20px 20px 10px;
    height: auto;
    opacity: 1;
    transform: scale(1, 1); }

/*Аккордеон конец*/
.products-catalog {
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: #fff; }
  .products-catalog h2 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    color: #282C3A; }
  .products-catalog input[type="checkbox"]:checked ~ .accordion-child {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
    .products-catalog input[type="checkbox"]:checked ~ .accordion-child li {
      margin-left: 20px; }

.multifilters {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: stretch;
  flex-flow: row wrap; }

.products-catalog-sort {
  font-size: 14px;
  line-height: 17px;
  font-weight: 100;
  color: #282C3A; }

.multifilter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.multifilter-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 100;
  color: #757482; }
  .multifilter-title:hover {
    cursor: pointer; }
  input[type=checkbox]:checked ~ .multifilter-title {
    color: #DD2B1C; }

.products-catalog-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap; }
  .products-catalog-nav li {
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 100px;
    margin-right: 7px;
    text-align: center; }
  .products-catalog-nav li a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #282C3A;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%; }

.products-show .cont_tov {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -29px 0; }

.products-show .tov_item {
  overflow: hidden;
  position: relative;
  background: #fff;
  margin: 13px;
  height: 404px;
  max-height: 100%;
  width: calc(25% - 26px); }
  .products-show .tov_item p {
    margin-top: 15px;
    margin-bottom: 23px; }
  .products-show .tov_item .tov-button {
    transition: all 0.8s;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    background: #FF3A52;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px; }
  .products-show .tov_item .tov-button:hover {
    background: #dd3246; }
  .products-show .tov_item .tov_item_img {
    display: block;
    transition: all 0.4s;
    max-height: 260px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    border-bottom: 1px solid #EDEFF5;
    padding: 20px; }
    .products-show .tov_item .tov_item_img img {
      width: 100%;
      object-fit: contain; }

.products-show .tov_item:hover .tov_item_img {
  filter: blur(3px); }

.products-show .tov_item:hover .tov-button {
  top: 30%; }

.products-show .tov_item_info {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 140px; }
  .products-show .tov_item_info .price {
    font-size: 18px;
    font-weight: bold; }
  .products-show .tov_item_info .price span {
    font-size: 15px;
    color: #b4b4b4; }
  .products-show .tov_item_info .old_price {
    font-size: 12px;
    text-decoration: line-through; }
    .products-show .tov_item_info .old_price span {
      font-size: 13px;
      color: #b4b4b4; }
  .products-show .tov_item_info .tov_new {
    background: #FF3A52;
    border-radius: 3px;
    width: 80px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    position: relative;
    margin-top: -13px;
    z-index: 20; }
  .products-show .tov_item_info .tov_pov {
    background: #C053F3;
    padding: 5px;
    width: 105px; }
  .products-show .tov_item_info .tov_exs {
    background: #FF7300; }

@media (min-width: 360px) and (max-width: 768px) {
  .products-show .row {
    margin-top: 0 !important; }
  .products-show .col-sm-12 {
    margin-top: 2rem !important; } }

@media (max-width: 1024px) {
  .products-catalog-nav li {
    margin: 0 7px 7px 0; }
  .products-show .tov_item {
    width: calc(33.33% - 26px); }
  .products-catalog {
    position: static; }
  .multifilters {
    justify-content: stretch; }
    .multifilters span, .multifilters .multifilter {
      padding: 5px; }
  input[type=checkbox]:checked ~ .accordion-child {
    background: #fff;
    padding: 0 20px 20px 10px;
    height: auto;
    opacity: 1;
    transform: scale(1, 1); } }

@media (max-width: 768px) {
  .catalog .col-md-3 {
    padding-right: 0 !important; }
    .catalog .col-md-3 .accordion .accordion-item {
      padding: 0; }
      .catalog .col-md-3 .accordion .accordion-item input[type=checkbox]:checked ~ .accordion-child {
        padding: 0 0 20px; }
      .catalog .col-md-3 .accordion .accordion-item .accordion-label {
        padding: 10px 10px 10px 20px; }
  .catalog .products-catalog .accordion-label {
    padding: 10px 0; }
  .catalog .products-catalog .align-items-center .col-md-8 {
    max-width: 100%;
    flex: 0 0 100%; }
  .catalog .products-catalog .align-items-center .col-md-4 {
    flex: 0 0 100%;
    max-width: 33%; }
  .catalog .products-show .cont_tov {
    margin: 30px -20px 0; }
  .catalog .products-show .tov_item {
    width: calc(33.33% - 10px);
    margin: 5px; } }

@media (max-width: 640px) {
  .catalog .container.pt-5.pb-5 {
    padding-top: 2rem !important; }
  .catalog .col-md-3 {
    padding-right: 15px !important;
    margin-bottom: 15px; }
  .catalog .products-catalog .col-sm-12.col-md-12.mt-3.ml-3.mb-3 {
    margin-left: 0 !important; }
    .catalog .products-catalog .col-sm-12.col-md-12.mt-3.ml-3.mb-3 .multifilters {
      width: 100%; } }

@media (max-width: 425px) {
  .catalog .products-catalog .col-sm-12.col-md-12.mt-3.ml-3.mb-3 h2 {
    font-size: 27px; }
  .catalog .products-catalog .align-items-center .col-md-4 {
    max-width: 60%; }
  .catalog .products-show .tov_item {
    width: calc(50% - 10px); } }

@media (max-width: 380px) {
  .catalog .products-catalog .align-items-center .col-md-4 {
    max-width: 100%; }
  .catalog .products-show .tov_item {
    width: calc(100% - 10px); } }

.checkout .basket-products__contain .row .col-md-2 img {
  width: 100%; }

.checkout .nav-tabs .nav-item {
  width: 50%; }
  .checkout .nav-tabs .nav-item .nav-link {
    color: #757482;
    padding: 18px;
    text-align: center;
    background: #F7F7FA;
    border: 1px solid #E5E6E8; }
  .checkout .nav-tabs .nav-item .nav-link.active {
    color: #FF3A52;
    border: none;
    background: #fff; }

.checkout .nav-tabs {
  border-bottom: none; }

.checkout .basket-header {
  font-size: 36px; }

.checkout .checked-products {
  padding: 0; }
  .checkout .checked-products .tab-content p {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0; }
  .checkout .checked-products .tab-content form {
    margin-bottom: 20px; }
    .checkout .checked-products .tab-content form p {
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
      display: flex;
      margin-bottom: 5px; }
      .checkout .checked-products .tab-content form p span {
        font-weight: 100;
        margin-left: auto; }
    .checkout .checked-products .tab-content form input, .checkout .checked-products .tab-content form textarea {
      width: 100%;
      border: 1px solid #E5E6E8;
      border-radius: 3px;
      padding: 13px; }
      .checkout .checked-products .tab-content form input::placeholder, .checkout .checked-products .tab-content form textarea::placeholder {
        font-size: 14px; }
  .checkout .checked-products .tab-content .strip {
    display: inline-block;
    height: 1px;
    width: 100%;
    background: #EDEFF5; }
  .checkout .checked-products .tab-content .checked-payment {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .checkout .checked-products .tab-content .checked-payment .payment-block {
      color: #fff;
      width: calc(50% - 6px);
      display: block;
      height: 90px;
      border-radius: 5px;
      background-position: left bottom;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 13px 20px 13px 16px;
      text-decoration: none;
      transition: all 0.4s; }
    .checkout .checked-products .tab-content .checked-payment .payment-block:nth-child(1) {
      background-image: url(../img/payment4.png);
      margin-right: 6px; }
    .checkout .checked-products .tab-content .checked-payment .payment-block:nth-child(2) {
      background-image: url(../img/payment3.png);
      margin-left: 6px; }
    .checkout .checked-products .tab-content .checked-payment .payment-block:hover {
      -webkit-box-shadow: 0px 0px 0px 2px #ff3a5f;
      -moz-box-shadow: 0px 0px 0px 2px  #ff3a5f;
      box-shadow: 0px 0px 0px 2px #ff3a5f; }
  .checkout .checked-products .tab-content .back {
    width: 100%;
    background: url(../img/arrow-left.png);
    background-position: 24% 50%;
    background-repeat: no-repeat;
    border: none;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 30px;
    color: #757482;
    transition: all 0.4s; }
  .checkout .checked-products .tab-content .back:hover {
    color: #ff3a5f; }

.checkout .tab-pane-1 form span {
  font-size: 14px;
  font-weight: 100;
  display: block;
  text-align: right;
  margin-top: 20px; }

.checkout .tab-pane-1 form input {
  margin-top: 10px; }

.checkout .tab-pane-1 form .email-input {
  margin-top: 22px; }

.checkout .tab-pane-1 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  background: #DD2B1C;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: none;
  border: 1px solid #DD2B1C;
  padding: 10px 10px 10px 20px;
  transition: all .4s;
  margin-bottom: 30px;
  transition: all 0.4s; }
  .checkout .tab-pane-1 a img {
    margin-left: auto;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    transform: rotate(180deg); }
  .checkout .tab-pane-1 a:hover {
    background: #b82417; }

@media (max-width: 1024px) {
  .checkout .basket-products .price-look .sale-price {
    font-size: 18px; } }

@media (max-width: 768px) {
  .checkout .row.align-items-start .basket-products__contain {
    flex: 0 0 100%;
    max-width: 100%; }
    .checkout .row.align-items-start .basket-products__contain .price-look {
      flex-direction: row;
      margin-bottom: 10px; }
      .checkout .row.align-items-start .basket-products__contain .price-look .previous-price {
        margin-right: 10px; }
    .checkout .row.align-items-start .basket-products__contain .add div {
      padding-right: 10px; }
  .checkout .row.align-items-start .checked-products {
    margin: 30px auto;
    flex: 0 0 100%;
    max-width: 500px; }
  .checkout li {
    margin-top: 0; } }

@media (max-width: 350px) {
  .checkout .basket-header {
    font-size: 24px; }
  .checkout .row.align-items-start .basket-products__contain .col-4, .checkout .row.align-items-start .basket-products__contain .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 !important; }
  .checkout .row.align-items-start .basket-products__contain .basket-products {
    margin-top: 20px; }
  .checkout .row.align-items-start .basket-products__contain .basket-products .line {
    display: none; }
  .checkout .row.align-items-start .basket-products__contain .price-look {
    margin: 20px auto; }
  .checkout .row.align-items-start .basket-products__contain .basket-products .add {
    justify-content: stretch !important; }
  .checkout .row.align-items-start .checked-products {
    margin: 30px auto;
    flex: 0 0 100%;
    max-width: 500px; }
  .checkout li {
    margin-top: 0; } }

.basket {
  font-family: "Museo Sans Cyrl"; }
  .basket .basket-header {
    font-size: 36px;
    line-height: 145.08%;
    font-weight: 700;
    color: #282C3A; }
  .basket .basket-products-count {
    font-size: 16px;
    line-height: 145.08%;
    font-weight: 300;
    color: #757482; }

.basket-products h3 {
  font-size: 18px;
  line-height: 143.16%;
  font-weight: 700;
  color: #282C3A; }

.basket-products p {
  font-size: 14px;
  line-height: 180%;
  font-weight: 100;
  color: #757482; }
  .basket-products p span {
    color: #757482; }

.basket-products .line {
  position: relative;
  top: -7px;
  left: 0;
  border-bottom: 1px solid #EDEFF5; }
  .basket-products .line + div p {
    color: #282C3A;
    font-weight: 300; }

.basket-products .price-look {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end; }
  .basket-products .price-look .previous-price {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100;
    color: #757482;
    text-decoration: line-through; }
  .basket-products .price-look .sale-price {
    font-size: 22px;
    line-height: 143.16%;
    font-weight: 700;
    color: #FF3A52; }

.basket-products .inc-dec {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .basket-products .inc-dec input[type="button"] {
    border: none;
    border-radius: 100px;
    background-color: #E5E6E8;
    padding-left: 12px;
    padding-right: 12px; }

.basket-products .increase {
  background-image: url(../img/+.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.basket-products .decrease {
  background-image: url(../img/-.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.basket-products .output {
  font-size: 14px;
  line-height: 141.24%;
  font-weight: 300;
  color: #282C3A;
  border: none;
  outline: none; }

.basket-products .add {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .basket-products .add .to-trash, .basket-products .add .to-favorite {
    cursor: pointer; }
    .basket-products .add .to-trash svg path, .basket-products .add .to-favorite svg path {
      transition: all .3s; }
  .basket-products .add .to-favorite svg:hover {
    animation: heartbeat .6s infinite; }
  .basket-products .add .to-favorite svg:hover path {
    fill: #DD2B1C; }

.basket-block {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #ECEFF4;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(7, 16, 104, 0.05);
  border-radius: 5px; }
  .basket-block .basket_wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 17px; }
    .basket-block .basket_wrapper p {
      font-size: 14px;
      line-height: 180%;
      font-weight: 100;
      color: #757482; }
    .basket-block .basket_wrapper p:last-child {
      color: #282C3A;
      font-weight: 500; }
    .basket-block .basket_wrapper h2 {
      font-size: 24px;
      font-weight: 700; }
  .basket-block .checkout {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    background: #DD2B1C;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;
    border: 1px solid #DD2B1C;
    padding: 15px;
    transition: all .4s; }
    .basket-block .checkout:hover {
      background-color: #fff;
      color: #DD2B1C;
      border: #DD2B1C 1px solid; }
  .basket-block .text-center p {
    font-size: 13px;
    line-height: 160%;
    font-weight: 300;
    color: #282C3A; }
    .basket-block .text-center p a {
      color: #DD2B1C;
      text-decoration: none; }
      .basket-block .text-center p a:hover {
        text-decoration: none; }

@media (min-width: 320px) and (max-width: 768px) {
  .basket-products .inc-dec {
    justify-content: flex-start;
    margin-bottom: 1.25rem; }
    .basket-products .inc-dec .output {
      margin-left: 15px;
      margin-right: 15px; }
  .basket-products .price-look {
    align-items: flex-start; }
  .basket-products .add {
    justify-content: flex-start; }
  .basket-products .line {
    border: none; }
  .basket-block {
    margin-top: 1.5rem; } }

@media (max-width: 1024px) {
  .basket-products .price-look .sale-price {
    font-size: 18px; } }

@media (max-width: 768px) {
  .row.align-items-start .total-basket {
    flex: 0 0 100%;
    max-width: 100%; }
    .row.align-items-start .total-basket .price-look {
      flex-direction: row;
      margin-bottom: 10px; }
      .row.align-items-start .total-basket .price-look .previous-price {
        margin-right: 10px; }
    .row.align-items-start .total-basket .add div {
      padding-right: 10px; }
  .row.align-items-start .basket-block {
    margin: 30px auto;
    flex: 0 0 100%;
    max-width: 500px; }
  li {
    margin-top: 0; } }

@media (max-width: 350px) {
  .row.align-items-start .total-basket .col-4, .row.align-items-start .total-basket .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 !important; }
  .row.align-items-start .total-basket .basket-products {
    margin-top: 20px; }
  .row.align-items-start .total-basket .basket-products .line {
    display: none; }
  .row.align-items-start .total-basket .price-look {
    margin: 20px auto; }
  .row.align-items-start .total-basket .basket-products .add {
    justify-content: stretch !important; }
  .row.align-items-start .basket-block {
    margin: 30px auto;
    flex: 0 0 100%;
    max-width: 500px; }
  li {
    margin-top: 0; } }

.star-rating__ico {
  transition: all .4s; }

.star-rating__hover:hover {
  transform: scale(1.2); }

.select2-results__option {
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  color: #282C3A; }

.separator {
  border-bottom: 1px solid #EDEFF5; }

.main-page-link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 100;
  color: #282C3A; }
  .main-page-link a {
    color: #AAAABE; }

.product-photo .slick-slide img {
  margin: 10px auto; }

.product-photo .slider-for img {
  width: 100%;
  height: 100%;
  margin: 0; }

.product-photo .slick-prev {
  position: relative;
  top: 0;
  left: 45%; }

.product-photo .slider-nav .slick-current img {
  border: 1px solid #DD2B1C; }

.product-photo .slick-prev:before {
  content: url("../img/product-photo_top-button.png");
  position: relative;
  top: -20px;
  left: -15px; }

.product-photo .slick-next {
  position: relative;
  top: 100%;
  left: 45%; }

.product-photo .slick-next:before {
  content: url("../img/product-photo_bot-button.png");
  position: relative;
  top: 20px;
  left: -15px; }

.general-info {
  font-family: "Museo Sans Cyrl"; }
  .general-info .star-rating {
    font-size: 0; }
  .general-info .star-rating__wrap {
    display: inline-block;
    font-size: 1rem; }
  .general-info .star-rating__wrap:after {
    content: "";
    display: table;
    clear: both; }
  .general-info .star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300; }
  .general-info .star-rating__ico:last-child {
    padding-left: 0; }
  .general-info .star-rating__input {
    display: none; }
  .general-info .star-rating__hover:hover:before,
  .general-info .star-rating__hover:hover ~ .star-rating__hover:before,
  .general-info .star-rating__input:checked ~ .star-rating__hover:before {
    content: "\f005"; }
  .general-info h1 {
    font-size: 36px;
    line-height: 147%;
    font-weight: 700;
    color: #282C3A; }
  .general-info .reviews {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100;
    color: #AAAABE; }
  .general-info .bought {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100;
    color: #282C3A; }
  .general-info .characteristics p {
    font-size: 14px;
    line-height: 180%;
    font-weight: 100;
    color: #757482; }
  .general-info .characteristics h5 {
    font-size: 14px;
    line-height: 180%;
    font-weight: 500;
    color: #282C3A; }
  .general-info .characteristics .line {
    position: relative;
    top: -7px;
    left: 0;
    border-bottom: 1px solid #EDEFF5;
    z-index: -1; }
  .general-info .description h3 {
    font-size: 18px;
    line-height: 180%;
    font-weight: 700;
    color: #282C3A; }
  .general-info .description p {
    font-size: 14px;
    line-height: 180%;
    font-weight: 100;
    color: #757482; }

.trash-block {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Museo Sans Cyrl";
  background: #FFFFFF;
  border: 1px solid #ECEFF4;
  box-shadow: 0px 15px 25px rgba(7, 16, 104, 0.05);
  border-radius: 5px;
  padding: 27px 30px 30px 30px; }
  .trash-block .previous-price {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100;
    color: #757482;
    text-decoration: line-through; }
  .trash-block .sale-price {
    font-size: 26px;
    line-height: 140%;
    font-weight: 700;
    color: #FF3A52; }
  .trash-block .select2-container {
    margin-top: 20px;
    width: 100% !important; }
  .trash-block .select2-container--default .select2-selection--single {
    display: flex;
    align-items: center;
    padding: 20px 10px; }
  .trash-block .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #757482; }
  .trash-block .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 25%; }
  .trash-block .trash-block-btns {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 15px;
    flex-flow: row wrap; }
  .trash-block .addToTrash {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #DD2B1C;
    border: 1px solid #DD2B1C;
    border-radius: 3px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
    padding: 16px 20px;
    transition: all .3s; }
    .trash-block .addToTrash:hover {
      background-color: #fff;
      color: #DD2B1C; }
  .trash-block label[for="favorite"] {
    border: 1px solid #E5E6E8;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    transition: all .3s; }
    .trash-block label[for="favorite"] svg path {
      transition: all .3s; }
    .trash-block label[for="favorite"]:hover {
      border: 1px solid #DD2B1C; }
      .trash-block label[for="favorite"]:hover svg {
        animation: heartbeat .6s infinite; }
      .trash-block label[for="favorite"]:hover svg path {
        fill: #DD2B1C; }

.recommended {
  font-family: "Museo Sans Cyrl"; }
  .recommended h2 {
    font-size: 24px;
    line-height: 180%;
    font-weight: 700;
    color: #282C3A; }
  .recommended .slick-prev, .recommended .slick-next {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #E5E6E8;
    box-sizing: border-box;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
    border-radius: 50%; }
  .recommended .slick-next {
    right: 10px;
    top: 55%; }
  .recommended .slick-prev {
    transform: rotate(180deg);
    left: 5px;
    z-index: 1;
    top: 50%; }
  .recommended .slick-next::before, .recommended .slick-prev::before {
    content: url(../img/chevron-left.png); }
  .recommended .slick-prev::before, .recommended .slick-next::before {
    font-size: 0; }
  .recommended .product-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .recommended .product-container:hover img {
      filter: blur(3px); }
    .recommended .product-container:hover .product-btn {
      top: 30%; }
    .recommended .product-container div:not(.separator) {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-flow: column wrap;
      width: 220px;
      background: #FFFFFF;
      /* Обводка прозрачных кнопок */
      border: 1px solid #E5E6E8;
      box-sizing: border-box;
      border-radius: 5px; }
    .recommended .product-container img {
      align-self: center;
      max-height: 220px;
      padding: 15px;
      transition: all .4s; }
    .recommended .product-container .product-btn {
      transition: all .8s;
      position: absolute;
      left: 50%;
      top: -100%;
      transform: translate(-50%);
      color: #fff;
      background-color: #FF3A52;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px; }
    .recommended .product-container .separator {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; }
    .recommended .product-container .novelty {
      font-size: 12px;
      line-height: 140%;
      font-weight: 500;
      color: #fff;
      background-color: #FF3A52;
      border-radius: 3px;
      padding: 7px 15px;
      position: absolute;
      top: 58%;
      margin-left: 15px;
      align-self: flex-start; }
    .recommended .product-container .popular {
      font-size: 12px;
      line-height: 140%;
      font-weight: 500;
      color: #fff;
      background-color: #C053F3;
      border-radius: 3px;
      padding: 7px 15px;
      position: absolute;
      top: 58%;
      margin-left: 15px;
      align-self: flex-start; }
    .recommended .product-container .exclusive {
      font-size: 12px;
      line-height: 140%;
      font-weight: 500;
      color: #fff;
      background-color: #FF7300;
      border-radius: 3px;
      padding: 7px 15px;
      position: absolute;
      top: 58%;
      margin-left: 15px;
      align-self: flex-start; }
    .recommended .product-container .product-description {
      font-size: 16px;
      line-height: 140%;
      font-weight: 300;
      color: #282C3A;
      padding: 15px;
      min-height: 74px; }
    .recommended .product-container .price {
      font-size: 18px;
      line-height: 140%;
      font-weight: 500;
      color: #282C3A;
      padding: 15px; }
      .recommended .product-container .price span {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.5); }
    .recommended .product-container .previous-price {
      font-size: 12px;
      line-height: 140%;
      font-weight: 300;
      color: #282C3A;
      position: absolute;
      top: 83%;
      margin-left: 15px;
      text-decoration: line-through; }

@media (min-width: 360px) and (max-width: 465px) {
  .product-photo .slick-slide img {
    width: 100%; } }

@media (min-width: 575px) and (max-width: 767px) {
  .product-photo .slider-for img {
    width: auto;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 768px) and (max-width: 1223px) {
  .trash-block .trash-block-btns {
    flex-direction: column; }
  .trash-block label[for="favorite"] {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px; }
  .trash-block .addToTrash {
    width: 100%;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 768px) and (max-width: 1045px) {
  .product-photo .slick-slide img {
    width: 100%; } }

.switch-nav ul {
  padding: 0; }

.switch-nav a {
  font-size: 15px;
  line-height: 140%;
  font-weight: 300;
  color: #757482;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 0; }
  .switch-nav a:hover {
    text-decoration: none; }

.switch-nav .switch-nav_active {
  background-color: rgba(255, 58, 82, 0.1);
  border-radius: 5px; }
  .switch-nav .switch-nav_active a {
    color: #FF3A52; }

.personal {
  font-family: "Museo Sans Cyrl";
  background-color: #fff; }
  .personal .private-data form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap; }
    .personal .private-data form input {
      font-size: 14px;
      line-height: 139.2%;
      font-weight: 500;
      color: #282C3A;
      border: none;
      border: 1px solid #E7E7EB;
      border-radius: 3px;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 10px; }
      .personal .private-data form input:valid:not(:placeholder-shown) {
        background-image: url(../img/Check.png);
        background-repeat: no-repeat;
        background-position: 95% 50%; }
      .personal .private-data form input:first-child {
        margin-top: 0; }
      .personal .private-data form input::placeholder {
        color: #AAAABE; }
      .personal .private-data form input[type="tel"] {
        margin-top: 0; }
    .personal .private-data form div {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: 15px; }
      .personal .private-data form div input {
        border: none;
        color: #fff;
        opacity: .95;
        padding: 15px 40px;
        background: #DD2B1C;
        box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05); }
        .personal .private-data form div input:valid:not(:placeholder-shown) {
          background-image: none; }
      .personal .private-data form div p {
        font-size: 13px;
        line-height: 160%;
        font-weight: 100;
        color: #282C3A;
        margin-left: 25px; }
        .personal .private-data form div p a {
          color: #DD2B1C; }
          .personal .private-data form div p a:hover {
            text-decoration: none; }

@media (max-width: 768px) {
  .switch-nav a {
    padding-left: 0;
    text-align: center; }
  .void {
    max-width: 0; }
  .personal .personal-form {
    flex: 0 0 100%;
    max-width: 60%; } }

@media (max-width: 640px) {
  .personal .personal-form {
    margin-top: 15px;
    flex: 0 0 100%;
    max-width: 100%; }
    .personal .personal-form .save {
      display: block; }
      .personal .personal-form .save p {
        margin: 10px 0; }
      .personal .personal-form .save input {
        width: 100%;
        margin: 10px 0 !important; } }

.about {
  font-family: "Museo Sans Cyrl"; }
  .about h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #3A4354; }
  .about p {
    font-size: 16px;
    line-height: 160%;
    font-weight: 300;
    color: #757482; }
  .about .payment-method-01, .about .payment-method-02, .about .payment-method-03 {
    width: 100%;
    height: 100%; }
    .about .payment-method-01 div, .about .payment-method-02 div, .about .payment-method-03 div {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 122px;
      background-color: #fff;
      border: 5px solid #9343FA;
      box-shadow: 0px 15px 35px rgba(32, 48, 80, 0.05);
      background-repeat: no-repeat;
      background-position: 95% 50%; }
      .about .payment-method-01 div p, .about .payment-method-02 div p, .about .payment-method-03 div p {
        color: #282C3A;
        width: 288.7px;
        margin-left: auto;
        margin-right: auto; }
  .about .payment-method-01 div {
    background-image: url(../img/01.png); }
  .about .payment-method-02 div {
    background-image: url(../img/02.png); }
  .about .payment-method-03 div {
    background-image: url(../img/03.png); }

@media (min-width: 320px) and (max-width: 768px) {
  .about .payment-method-01 div, .about .payment-method-02 div, .about .payment-method-03 div {
    width: auto;
    height: auto;
    margin-top: 10px; }
  .payment-method div {
    padding: 10px; } }

.basket {
  font-family: "Museo Sans Cyrl"; }
  .basket .basket-header {
    font-size: 36px;
    line-height: 145.08%;
    font-weight: 700;
    color: #282C3A; }
  .basket .basket-products-count {
    font-size: 16px;
    line-height: 145.08%;
    font-weight: 300;
    color: #757482; }

.basket-products h3 {
  font-size: 18px;
  line-height: 143.16%;
  font-weight: 700;
  color: #282C3A; }

.basket-products p {
  font-size: 14px;
  line-height: 180%;
  font-weight: 100;
  color: #757482; }
  .basket-products p span {
    color: #757482; }

.basket-products .line {
  position: relative;
  top: -7px;
  left: 0;
  border-bottom: 1px solid #EDEFF5; }
  .basket-products .line + div p {
    color: #282C3A;
    font-weight: 300; }

.basket-products .price-look {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end; }
  .basket-products .price-look .previous-price {
    font-size: 14px;
    line-height: 140%;
    font-weight: 100;
    color: #757482;
    text-decoration: line-through; }
  .basket-products .price-look .sale-price {
    font-size: 22px;
    line-height: 143.16%;
    font-weight: 700;
    color: #FF3A52; }

.basket-products .inc-dec {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .basket-products .inc-dec input[type="button"] {
    border: none;
    border-radius: 100px;
    background-color: #E5E6E8;
    padding-left: 12px;
    padding-right: 12px; }

.basket-products .increase {
  background-image: url(../img/+.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.basket-products .decrease {
  background-image: url(../img/-.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.basket-products .output {
  font-size: 14px;
  line-height: 141.24%;
  font-weight: 300;
  color: #282C3A;
  border: none;
  outline: none; }

.basket-products .add {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .basket-products .add .to-trash, .basket-products .add .to-favorite {
    cursor: pointer; }
    .basket-products .add .to-trash svg path, .basket-products .add .to-favorite svg path {
      transition: all .3s; }
  .basket-products .add .to-favorite svg:hover {
    animation: heartbeat .6s infinite; }
  .basket-products .add .to-favorite svg:hover path {
    fill: #DD2B1C; }

.basket-block {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #ECEFF4;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(7, 16, 104, 0.05);
  border-radius: 5px; }
  .basket-block .basket_wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 17px; }
    .basket-block .basket_wrapper p {
      font-size: 14px;
      line-height: 180%;
      font-weight: 100;
      color: #757482; }
    .basket-block .basket_wrapper p:last-child {
      color: #282C3A;
      font-weight: 500; }
    .basket-block .basket_wrapper h2 {
      font-size: 24px;
      font-weight: 700; }
  .basket-block .checkout {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    background: #DD2B1C;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;
    border: 1px solid #DD2B1C;
    padding: 15px;
    transition: all .4s; }
    .basket-block .checkout:hover {
      background-color: #fff;
      color: #DD2B1C;
      border: #DD2B1C 1px solid; }
  .basket-block .text-center p {
    font-size: 13px;
    line-height: 160%;
    font-weight: 300;
    color: #282C3A; }
    .basket-block .text-center p a {
      color: #DD2B1C;
      text-decoration: none; }
      .basket-block .text-center p a:hover {
        text-decoration: none; }

@media (min-width: 320px) and (max-width: 768px) {
  .basket-products .inc-dec {
    justify-content: flex-start;
    margin-bottom: 1.25rem; }
    .basket-products .inc-dec .output {
      margin-left: 15px;
      margin-right: 15px; }
  .basket-products .price-look {
    align-items: flex-start; }
  .basket-products .add {
    justify-content: flex-start; }
  .basket-products .line {
    border: none; }
  .basket-block {
    margin-top: 1.5rem; } }

@media (max-width: 1024px) {
  .basket-products .price-look .sale-price {
    font-size: 18px; } }

@media (max-width: 768px) {
  .row.align-items-start .total-basket {
    flex: 0 0 100%;
    max-width: 100%; }
    .row.align-items-start .total-basket .price-look {
      flex-direction: row;
      margin-bottom: 10px; }
      .row.align-items-start .total-basket .price-look .previous-price {
        margin-right: 10px; }
    .row.align-items-start .total-basket .add div {
      padding-right: 10px; }
  .row.align-items-start .basket-block {
    margin: 30px auto;
    flex: 0 0 100%;
    max-width: 500px; }
  li {
    margin-top: 0; } }

@media (max-width: 350px) {
  .row.align-items-start .total-basket .col-4, .row.align-items-start .total-basket .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 !important; }
  .row.align-items-start .total-basket .basket-products {
    margin-top: 20px; }
  .row.align-items-start .total-basket .basket-products .line {
    display: none; }
  .row.align-items-start .total-basket .price-look {
    margin: 20px auto; }
  .row.align-items-start .total-basket .basket-products .add {
    justify-content: stretch !important; }
  .row.align-items-start .basket-block {
    margin: 30px auto;
    flex: 0 0 100%;
    max-width: 500px; }
  li {
    margin-top: 0; } }

.history {
  font-family: "Museo Sans Cyrl"; }
  .history .hidden__mobile__products-card {
    display: none; }
  .history .order-table {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    line-height: 139.2%;
    font-weight: 500;
    color: #282C3A;
    width: 100%; }
    .history .order-table tbody tr:nth-child(odd) {
      background-color: #FBFBFC; }
    .history .order-table td, .history .order-table th {
      word-wrap: break-word;
      width: 138px; }
    .history .order-table tr {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px; }
    .history .order-table tr td {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: flex-start; }
    .history .order-table tr td:last-child {
      justify-content: flex-end; }
    .history .order-table .date {
      color: #757482; }
    .history .order-table .count {
      border: none;
      background-color: none;
      color: #FF3A52;
      text-decoration: underline;
      cursor: pointer; }
    .history .order-table .new {
      cursor: pointer;
      background-color: #C053F3;
      border-radius: 100px;
      color: #fff;
      width: 90px;
      height: 30px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center; }
    .history .order-table .repeat {
      background-color: #fff;
      border: none;
      text-decoration: underline;
      color: #FF3A52;
      outline: none; }

.popover {
  max-width: 95%; }

.popover-body {
  width: 529px;
  max-width: 100%; }
  .popover-body .col-md-12 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .popover-body .col-md-12 div {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .popover-body .col-md-12 div .product-name {
        margin-left: 15px; }
  .popover-body p {
    font-size: 16px;
    line-height: 143.16%;
    font-weight: 100;
    color: #282C3A; }
  .popover-body .product-cost {
    font-weight: 700; }

@media (max-width: 1024px) {
  .history .container.mt-5.mb-5 .col-sm-12.col-md-1 {
    max-width: 0;
    padding-right: 0px; } }

@media (max-width: 768px) {
  .popover .arrow {
    left: 50px !important; }
  .history .order-table {
    display: none; }
  .history .hidden__mobile__products-card {
    display: flex;
    flex-wrap: wrap; }
    .history .hidden__mobile__products-card .mob__product-card {
      width: 100%;
      margin-bottom: 15px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 30px rgba(189, 189, 189, 0.192);
      padding: 20px 15px; }
      .history .hidden__mobile__products-card .mob__product-card .info {
        display: flex; }
        .history .hidden__mobile__products-card .mob__product-card .info .text {
          width: calc(60% - 10px);
          margin-right: 10px; }
          .history .hidden__mobile__products-card .mob__product-card .info .text div {
            margin: 7px 0; }
          .history .hidden__mobile__products-card .mob__product-card .info .text .qty {
            color: #FF3A52;
            text-decoration: underline; }
      .history .hidden__mobile__products-card .mob__product-card .repeat-cont {
        width: 40%; }
        .history .hidden__mobile__products-card .mob__product-card .repeat-cont button {
          outline: none;
          background: none;
          border: none;
          text-align: center;
          width: 100%;
          height: 100%;
          color: #FF3A52;
          text-decoration: underline; }
          .history .hidden__mobile__products-card .mob__product-card .repeat-cont button:focus {
            outline: none; }
      .history .hidden__mobile__products-card .mob__product-card .strip {
        width: 100%;
        height: 1px;
        display: inline-block;
        background: #EDEFF5;
        margin: 15px 0; }
      .history .hidden__mobile__products-card .mob__product-card .status {
        text-align: center; } }

@media (max-width: 640px) {
  .history .hidden__mobile__products-card {
    margin-top: 30px; } }

.finished-container {
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0, 26, 255, 0.03);
  border-radius: 5px;
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px; }
  .finished-container .title {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 10px; }
    .finished-container .title img {
      margin-left: 5px; }
  .finished-container .subtitle {
    color: #757482;
    margin-bottom: 14px; }
  .finished-container .time-order {
    font-weight: bold;
    font-size: 14px;
    color: #282C3A;
    margin-bottom: 20px; }
  .finished-container .button-finished {
    max-width: 246px;
    margin: 30px 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    background: #DD2B1C;
    border-radius: 3px;
    border: none;
    border: 1px solid #DD2B1C;
    padding: 15px;
    transition: all .4s; }
  .finished-container .button-finished:hover {
    background: none;
    color: #DD2B1C; }
  .finished-container .order, .finished-container .info, .finished-container .quantity {
    display: flex;
    align-items: center; }
  .finished-container .order {
    margin: 14px 0; }
    .finished-container .order .img {
      margin-right: 20px;
      max-width: 60px;
      height: 70px;
      overflow: hidden;
      border-radius: 3px; }
    .finished-container .order .info {
      width: calc(100% - 80px); }
      .finished-container .order .info .name {
        margin-right: auto; }
      .finished-container .order .info .qty {
        margin-right: 60px;
        margin-left: 10px; }
      .finished-container .order .info .sum {
        font-weight: bold; }
  .finished-container .strip {
    display: inline-block;
    height: 1px;
    width: 100%;
    background: #EDEFF5;
    margin: 20px 0; }
  .finished-container .amount {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .finished-container .amount p {
      font-size: 14px; }
    .finished-container .amount span {
      font-weight: bold;
      font-size: 24px;
      margin-left: auto; }
  .finished-container .title-products {
    font-size: 18px;
    font-weight: bold; }

.finished {
  padding: 60px 0 100px;
  width: 100%;
  background: #F5F7F8; }

@media (max-width: 425px) {
  .finished-container .title {
    font-size: 24px; }
  .finished-container .order .info {
    display: block; }
    .finished-container .order .info .quantity {
      margin-top: 7px; }
    .finished-container .order .info .qty {
      margin-left: 0;
      margin-right: auto; } }

.contact {
  font-family: "Museo Sans Cyrl";
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 9rem; }
  .contact h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #3A4354; }
  .contact p {
    font-size: 14px;
    line-height: 160%;
    font-weight: 300;
    color: #757482; }
  .contact .line {
    border-bottom: 1px solid #EDEFF5; }
  .contact .contact__info-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact .contact__info-block svg {
      max-height: 35px; }
      .contact .contact__info-block svg path {
        fill: #757482; }
      .contact .contact__info-block svg circle {
        fill: #757482; }
    .contact .contact__info-block div {
      width: 80%; }
      .contact .contact__info-block div h2 {
        font-size: 14px;
        line-height: 160%;
        font-weight: 700;
        color: #282C3A; }
      .contact .contact__info-block div p {
        font-size: 12px;
        line-height: 160%;
        font-weight: 300;
        color: #757482; }
        .contact .contact__info-block div p a {
          font-size: 13px;
          line-height: 145.08%;
          font-weight: 300;
          color: #757482;
          text-decoration: none; }
      .contact .contact__info-block div a {
        font-size: 14px;
        line-height: 160%;
        font-weight: 700;
        color: #DD2B1C;
        text-decoration: underline; }
      .contact .contact__info-block div h3 {
        font-size: 14px;
        line-height: 160%;
        font-weight: 700;
        color: #DD2B1C;
        text-decoration: underline; }

.return {
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 9rem; }
  .return .return__container h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #3A4354; }
  .return .return__container p {
    font-size: 14px;
    line-height: 160%;
    font-weight: 300;
    color: #757482;
    margin-top: 1em; }
  .return .return__container h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #282C3A; }
  .return .return__container h3 {
    font-size: 16px;
    line-height: 160%;
    font-weight: 300;
    color: #282C3A; }
  .return .return__container .checkout {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    background-color: #DD2B1C;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 15px;
    transition: all .4s;
    border: #DD2B1C 1px solid;
    opacity: 0.95; }
    .return .return__container .checkout:hover {
      background-color: #fff;
      color: #DD2B1C;
      border: #DD2B1C 1px solid; }
  .return .return__container ul {
    padding-left: 0; }
    .return .return__container ul li {
      display: flex;
      margin-top: 1em;
      align-items: flex-end; }
      .return .return__container ul li:before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: red;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        margin-right: .9em;
        align-self: flex-start; }
      .return .return__container ul li p {
        width: 100%;
        margin-top: 0; }
  .return .return__notification {
    position: sticky;
    top: 0;
    padding: 26px 30px 36px 30px;
    border: 4px solid #FF3A52;
    box-sizing: border-box;
    box-shadow: 0px 15px 35px rgba(32, 48, 80, 0.05);
    background-image: url("../img/!.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 95% 10%; }
    .return .return__notification h2 {
      font-size: 16px;
      line-height: 140%;
      font-weight: 500;
      color: #3A4354;
      max-width: 242px; }
    .return .return__notification ol {
      padding-left: 0;
      max-width: 242px; }
      .return .return__notification ol li {
        font-size: 14px;
        line-height: 160%;
        font-weight: 500;
        color: #757482;
        list-style: decimal;
        list-style-position: inside;
        margin-bottom: 10px; }
        .return .return__notification ol li:first-child {
          margin-top: 18px; }
        .return .return__notification ol li:last-child {
          margin-bottom: 0; }
        .return .return__notification ol li p {
          display: inline;
          font-size: 14px;
          line-height: 160%;
          font-weight: 500;
          color: #757482; }

.feedback {
  background-color: #f7f8fa; }
  .feedback .feedback__container {
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0, 26, 255, 0.03);
    max-width: 466px;
    width: 100%;
    margin: 0 auto;
    padding: 36px 34px 50px 34px; }
    .feedback .feedback__container h1 {
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
      color: #3A4354; }
    .feedback .feedback__container p {
      font-size: 14px;
      line-height: 160%;
      font-weight: 300;
      color: #757482; }
    .feedback .feedback__container form {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-flow: column wrap; }
      .feedback .feedback__container form input {
        font-size: 14px;
        line-height: 139.2%;
        font-weight: 500;
        color: #282C3A;
        border: none;
        border: 1px solid #E7E7EB;
        border-radius: 3px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px; }
        .feedback .feedback__container form input:valid:not(:placeholder-shown) {
          background-image: url(../img/Check.png);
          background-repeat: no-repeat;
          background-position: 95% 50%; }
        .feedback .feedback__container form input:first-of-type {
          margin-top: 34px; }
        .feedback .feedback__container form input::placeholder {
          color: #AAAABE; }
      .feedback .feedback__container form .date {
        position: relative; }
        .feedback .feedback__container form .date input {
          margin-top: 10px;
          width: 100%; }
          .feedback .feedback__container form .date input:valid:not(:placeholder-shown) {
            background-position: 75% 50%; }
        .feedback .feedback__container form .date .add-on {
          position: absolute;
          top: 26%;
          right: 2%;
          min-width: 65px;
          min-height: 38px;
          background-color: rgba(255, 58, 82, 0.05);
          border-radius: 3px;
          background-image: url("../img/calendar .png");
          background-repeat: no-repeat;
          background-position: 20% 50%; }
          .feedback .feedback__container form .date .add-on .icon-th {
            display: inline-block;
            background-image: url("../img/chevron-down.svg");
            min-width: 65px;
            min-height: 38px;
            background-repeat: no-repeat;
            background-position: 80% 70%; }
      .feedback .feedback__container form input[type="button"] {
        align-self: flex-start;
        border: 1px solid #DD2B1C;
        color: #fff;
        opacity: .95;
        padding: 15px 40px;
        background: #DD2B1C;
        box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
        margin-top: 45px;
        transition: all .4s; }
        .feedback .feedback__container form input[type="button"]:valid:not(:placeholder-shown) {
          background-image: none; }
        .feedback .feedback__container form input[type="button"]:hover {
          background-color: #fff;
          color: #DD2B1C; }

.address .line {
  border-bottom: 1px solid #E5E6E8; }

.address .address__container h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #3A4354;
  margin-bottom: 12px; }

.address .address__container p {
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
  color: #757482;
  max-width: 630px;
  margin-bottom: 35px; }

.address .address__container .nav-tabs {
  border-bottom: unset; }
  .address .address__container .nav-tabs .nav-item {
    cursor: pointer; }
    .address .address__container .nav-tabs .nav-item:nth-child(2) {
      margin-left: 30px; }
  .address .address__container .nav-tabs .nav-link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
    color: #757482;
    border: unset;
    padding: 0;
    align-items: center; }
    .address .address__container .nav-tabs .nav-link svg {
      margin-right: 10px;
      max-width: 12px;
      max-height: 16px; }
      .address .address__container .nav-tabs .nav-link svg path:first-child {
        stroke: #757482;
        fill: #757482; }
  .address .address__container .nav-tabs .nav-link.active {
    color: #FF3A52; }
    .address .address__container .nav-tabs .nav-link.active svg path:first-child {
      stroke: #FF3A52;
      fill: #FF3A52; }

.address .address__container .flexible {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end; }
  .address .address__container .flexible .setFull {
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
    color: #DD2B1C;
    border: unset;
    background-color: unset;
    outline: none;
    text-decoration: underline; }
  .address .address__container .flexible .modal .modal-body {
    padding: 0; }
    .address .address__container .flexible .modal .modal-body svg rect {
      height: 100%;
      width: 100%; }
    .address .address__container .flexible .modal .modal-body svg path#maxAlmaty, .address .address__container .flexible .modal .modal-body svg path#maxAstana {
      transition: all .3s; }
      .address .address__container .flexible .modal .modal-body svg path#maxAlmaty:hover, .address .address__container .flexible .modal .modal-body svg path#maxAstana:hover {
        stroke: #FF3A52 !important;
        fill: #FF3A52 !important; }

.address .address__container .tab-content svg {
  max-width: 100%; }
  .address .address__container .tab-content svg rect {
    width: 100%;
    height: 100%; }
  .address .address__container .tab-content svg path#almaty, .address .address__container .tab-content svg path#astana {
    transition: all .3s; }
    .address .address__container .tab-content svg path#almaty:hover, .address .address__container .tab-content svg path#astana:hover {
      stroke: #FF3A52 !important;
      fill: #FF3A52 !important; }

.astana-almaty {
  width: 250px; }
  .astana-almaty p {
    font-size: 12px;
    line-height: 160%;
    font-weight: 300;
    color: #757482; }
    .astana-almaty p:nth-of-type(2) {
      margin-top: 17px; }
  .astana-almaty h2 {
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
    color: #282C3A; }
  .astana-almaty .col-md-12 {
    display: block; }

.zindex {
  z-index: 10000;
  width: 250px; }
  .zindex p {
    font-size: 12px;
    line-height: 160%;
    font-weight: 300;
    color: #757482; }
    .zindex p:nth-of-type(2) {
      margin-top: 17px; }
  .zindex h2 {
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
    color: #282C3A; }
  .zindex .col-md-12 {
    display: block; }

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1); }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04); }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02); }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0); } }

.question .question__container h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #3A4354;
  padding-bottom: 25px;
  border-bottom: 1px solid #F2F2F2; }

.question .question__container .dropdown {
  border-bottom: 1px solid #F2F2F2;
  padding: 20px;
  padding-left: 0;
  padding-right: 0; }

.question .question__container .dropdown > .dropdown-content {
  display: none;
  font-size: 10px;
  width: 100%;
  line-height: 1.308;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out; }
  .question .question__container .dropdown > .dropdown-content p {
    font-size: 14px;
    line-height: 160%;
    font-weight: 300;
    color: #757482;
    margin-top: 15px; }

.question .question__container .dropdown > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.question .question__container .dropdown > input[type="checkbox"]:checked ~ .dropdown-content {
  display: block;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 2s ease-in-out;
  -o-transition: max-height 2s ease-in-out;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out; }

.question .question__container .dropdown > input[type="checkbox"]:checked + a {
  color: #DD2B1C; }

.question .question__container .dropdown > input[type="checkbox"]:checked + a:after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.question .question__container .dropdown > input[type="checkbox"] + a:after {
  transform: rotate(0);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s; }

.question .question__container .dropdown a {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #282C3A;
  display: inline-block;
  width: 100%; }

.question .question__container .dropdown a:after {
  content: url(../img/chevron-down2.svg);
  position: absolute;
  left: 95%; }

.news {
  background-color: #f7f8fa; }
  .news .news__containers .news__container {
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    max-width: 302px;
    max-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem; }
    .news .news__containers .news__container:hover .news-button {
      top: 20%; }
    .news .news__containers .news__container .news-button {
      transition: all .8s;
      position: absolute;
      top: -100%;
      left: 50%;
      transform: translate(-50%);
      color: white;
      background: #DD2B1C;
      border-radius: 5px;
      text-decoration: none;
      padding: 10px 20px;
      max-width: 80%;
      width: 100%;
      text-align: center; }
    .news .news__containers .news__container div {
      max-width: 242px; }
    .news .news__containers .news__container img {
      max-width: 302px;
      width: 100%; }
    .news .news__containers .news__container h2 {
      font-size: 18px;
      line-height: 160%;
      font-weight: 700;
      color: #282C3A;
      padding-top: 22px; }
    .news .news__containers .news__container p {
      position: relative;
      font-size: 14px;
      line-height: 125%;
      font-weight: 300;
      color: #757482;
      width: 100%;
      padding: 25.66px; }
      .news .news__containers .news__container p:before {
        content: url("../img/clock.svg");
        position: absolute;
        left: 0;
        top: 38%; }

.detailed {
  margin-bottom: 10rem; }
  .detailed .container {
    max-width: 793px; }
  .detailed .detailed__container p {
    font-size: 16px;
    line-height: 180%;
    font-weight: 500;
    color: #282C3A;
    margin-top: 26px; }
    .detailed .detailed__container p:first-of-type {
      margin-top: 51px; }
  .detailed .detailed__container h2 {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    color: #282C3A;
    margin-top: 49px; }
  .detailed .detailed__container h3 {
    font-size: 18px;
    line-height: 130%;
    font-weight: 700;
    color: #282C3A;
    margin-top: 26px; }
  .detailed .detailed__container .figure {
    margin-top: 41px; }
    .detailed .detailed__container .figure img {
      width: 100%; }
    .detailed .detailed__container .figure span {
      font-size: 16px;
      line-height: 180%;
      font-weight: 300;
      color: #AAAABE;
      font-style: italic; }

.result {
  background-color: #f7f8fa; }
  .result .container {
    max-width: 1144px; }

.container {
  max-width: 1360px; }

.modal {
  z-index: 10000; }

#login .modal-body form, #registration .modal-body form {
  text-align: left; }

#login .modal-body label, #registration .modal-body label {
  margin-top: 15px;
  margin-bottom: 5px; }

* {
  outline: none; }
