@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_0.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_1.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_2.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/Museo-Sans-Cyrl/MuseoSansCyrl_3.otf");
  font-weight: 900;
  font-style: normal; }

/*# sourceMappingURL=typography.css.map */
